
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: lightslategray;
  padding: 20px 10px;
  text-align: center;
}

#header-msg, h5 {
  color: white;
  padding-bottom: 10px;
}

button {
  margin-right: 10px;
  padding: 2px 2px;
}

select {
  margin-right: 10px;
}

label {
  color: white;
}

#movie-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.movie-card {
  width: 242px;
  height: 450px;
  padding: 10px 5px;
  margin: 0px 10px 10px 0px;
}

.movie-img {
  margin-right: 10px;
  width: 242px;
  height: 363px;
}

.movie-title, .movie-date {
  text-align: center;
}

.movie-overview {
  text-align: left;
}

/* #show-more {
  text-align: center;
  opacity: 0;
  padding: 20px 0px;
} */

#overview-text {
  position: fixed;
  display: flex;
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 600px;
  height: 300px;
  border: 5px solid lightslategrey;
  text-align: left;
  top: 38%;
  left: 27%;
  align-content: center;
  justify-content: center;
}
